// it is very important that each module begins with an underscore. This tells SASS that the file is a partial rather than a full sass file. 

.card { // this is the initial element. The styles will be broken down into different elements below the main element.
    padding: 0 5em;
    width: 400px;

        &__img { // "&" indicates the parent element. here "&" will register as ".card"
            display: block;
            height: 100px;
            width: 100%;
            background: #e04646;
        }

        &__content {
            padding: 1.5em;
            background: white;
        }

        &__list {
            list-style-type: none;
            display: flex;
            margin: 0;
            padding: 0;
        }

        &__item{
        padding: .3em .5em;
        margin-right: .5em;
        background: rgb(230, 230, 230);
        border-radius: .3em;
        font-size: .85em;
        
            &--active { // with BEM a double dash "--" indicates a modifier of the previous element. Here ".card__item" will get the modifier of "--active".
                background: #d4d4d4;
                font-weight: bold;
            }
        }

        &__link {
            background: #3c8973;
            color: white;
            text-decoration: none;
            padding: .5em 1em;
            border-radius: .5em;
            display: inline-block;
            margin-top: .5em;

            &:hover { // & can also be used for a selector as well. "&:hover" will read as ".card__link:hover". 
                background: #267724;
            }
        }
}